# Lab 2 - Advanced Python

Expected Outcomes:
By the end of this lab, students should be able to:
• Perform data cleaning, filtering, and aggregation using Pandas.
• Implement advanced numerical computations with NumPy.
• Create insightful visualizations using Matplotlib.
This structured lab should take approximately 2 hours, covering all essential aspects of Pandas, NumPy, and Matplotlib in an advanced Python setting

# Data Cleaning & Manipulation

In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1.Load the dataset and convert the Formatted Date column into a proper datetime format.

In [81]:
dataset = pd.read_csv('data.csv')
dataset.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

2.Fill missing values in the Precip Type column with the most frequent value.

In [82]:
missing_values_count = dataset['Precip Type'].isna().sum()
print("missing values count :",missing_values_count)

most_frequent_value = dataset['Precip Type'].mode()[0]
print("most_frequent_value :",most_frequent_value)

dataset['Precip Type'].fillna(most_frequent_value, inplace=True)
missing_values_count = dataset['Precip Type'].isna().sum()
print("missing values count :",missing_values_count)

missing values count : 517
most_frequent_value : rain
missing values count : 0

3.Create a new column Temperature (F) that converts Temperature (C) to Fahrenheit.

In [83]:
dataset['Temperature (F)'] = dataset['Temperature (C)'] * 9/5 + 32
dataset.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Temperature (F)
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,49.05
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,48.84
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,48.88
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,46.92
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,47.76

4.Extract the year and month from the Formatted Date column and create separate columns for them.

In [84]:
# Key Points:
# Purpose

# Pandas provides an option (utc=True or utc=False) to control how time zone-related datetime values are handled during conversion.

             # If utc=True (Recommended for Future Versions)

# The function always returns a timezone-aware timestamp in UTC.
# If the input datetime has no time zone (naive), it is assumed to be in UTC.
# If the input datetime has a time zone, it is converted to UTC.


             # If utc=False (Default Behavior)

# Time zone handling remains unchanged:
# Naive datetime (no timezone) stays naive.
# Timezone-aware datetime keeps its original offset (e.g., +05:30, -08:00).
# However, issues can arise with mixed time zones (e.g., due to Daylight Savings Time (DST)), leading to inconsistencies.

dataset['Formatted Date'] = pd.to_datetime(dataset['Formatted Date'], utc=True)  
dataset['Year'] = dataset['Formatted Date'].dt.year
dataset['Month'] = dataset['Formatted Date'].dt.month
dataset.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Temperature (F),Year,Month
0,2006-03-31 22:00:00+00:00,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,49.05,2006,3
1,2006-03-31 23:00:00+00:00,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,48.84,2006,3
2,2006-04-01 00:00:00+00:00,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,48.88,2006,4
3,2006-04-01 01:00:00+00:00,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,46.92,2006,4
4,2006-04-01 02:00:00+00:00,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,47.76,2006,4

5.Group the data by year and find the average temperature for each year.

In [85]:
dataset.groupby("Year")[["Temperature (C)"]].mean()

      Temperature (C)
Year
2005         0.577778
2006        11.215225
2007        12.134677
2008        12.161819
2009        12.269682
2010        11.200176
2011        11.524934
2012        11.986824
2013        11.941017
2014        12.528228
2015        12.312088
2016        11.987381

# Data Filtering & Analysis

6.Find the month with the highest average humidity

In [86]:
df = dataset.groupby("Month")[["Humidity"]].mean()
df.sort_values(by=["Humidity"]).head(1)

       Humidity
Month
8        0.6353

7.Identify the top 5 windiest days based on Wind Speed (km/h).

In [87]:
top_windiest=dataset.sort_values(by = ["Wind Speed (km/h)"],ascending = False)[["Formatted Date"]]
top_windiest.head(5)

                 Formatted Date
12181 2007-01-29 12:00:00+00:00
20927 2008-01-27 22:00:00+00:00
75398 2014-03-15 16:00:00+00:00
12182 2007-01-29 13:00:00+00:00
12179 2007-01-29 10:00:00+00:00

8.Filter the dataset to include only records where the temperature is below freezing (0°C).

In [88]:
dataset[dataset["Temperature (C)"]<0]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Temperature (F),Year,Month
1562,2006-12-13 01:00:00+00:00,Foggy,snow,-0.483333,-4.150000,1.00,11.0929,219.0,0.4830,0.0,1031.56,Foggy throughout the day.,31.13,2006,12
1563,2006-12-13 02:00:00+00:00,Foggy,snow,-0.483333,-4.061111,0.96,10.7387,200.0,0.3220,0.0,1031.47,Foggy throughout the day.,31.13,2006,12
1564,2006-12-13 03:00:00+00:00,Foggy,snow,-0.922222,-3.477778,1.00,7.0679,206.0,0.1610,0.0,1031.23,Foggy throughout the day.,30.34,2006,12
1565,2006-12-13 04:00:00+00:00,Foggy,snow,-1.038889,-4.400000,1.00,9.4990,199.0,0.1610,0.0,1031.41,Foggy throughout the day.,30.13,2006,12
1566,2006-12-13 05:00:00+00:00,Foggy,snow,-1.088889,-4.438889,1.00,9.4346,219.0,0.3220,0.0,1031.98,Foggy throughout the day.,30.04,2006,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93265,2016-03-28 03:00:00+00:00,Foggy,snow,-0.783333,-2.950000,0.99,6.1019,91.0,3.1073,0.0,1016.30,Foggy in the morning.,30.59,2016,3
93266,2016-03-28 04:00:00+00:00,Foggy,snow,-1.111111,-1.111111,0.93,0.0000,0.0,0.1610,0.0,1016.41,Foggy in the morning.,30.00,2016,3
93267,2016-03-28 05:00:00+00:00,Foggy,snow,-1.044444,-1.044444,1.00,0.0000,0.0,0.7728,0.0,1016.60,Foggy in the morning.,30.12,2016,3
93311,2016-03-03 02:00:00+00:00,Partly Cloudy,snow,-0.511111,-0.511111,1.00,3.5098,74.0,14.6832,0.0,1004.57,Mostly cloudy throughout the day.,31.08,2016,3
93506,2016-03-09 05:00:00+00:00,Foggy,snow,-0.027778,-2.705556,0.99,7.8568,320.0,3.0107,0.0,1014.76,Foggy in the morning.,31.95,2016,3

9.Find the date with the lowest visibility and report the weather summary for that day.

In [89]:
# dataset.sort_values(by=["Visibility (km)"],ascending = True).head(1)

visibility_list=dataset.sort_values(by=["Visibility (km)"],ascending = True)['Visibility (km)'].tolist()
dataset[dataset["Visibility (km)"]==visibility_list[0]]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Temperature (F),Year,Month
1640,2006-12-16 07:00:00+00:00,Foggy,snow,-2.244444,-2.244444,1.00,0.0000,0.0,0.0,0.0,1032.61,Foggy throughout the day.,27.96,2006,12
1641,2006-12-16 08:00:00+00:00,Foggy,snow,-2.244444,-2.244444,1.00,3.2200,170.0,0.0,0.0,1032.23,Foggy throughout the day.,27.96,2006,12
1661,2006-12-17 04:00:00+00:00,Foggy,snow,-2.200000,-2.200000,1.00,3.1717,158.0,0.0,0.0,1028.01,Foggy throughout the day.,28.04,2006,12
1662,2006-12-17 05:00:00+00:00,Foggy,snow,-2.150000,-2.150000,1.00,3.2200,90.0,0.0,0.0,1027.72,Foggy throughout the day.,28.13,2006,12
1664,2006-12-17 07:00:00+00:00,Foggy,snow,-2.150000,-5.177778,1.00,7.8085,19.0,0.0,0.0,1028.11,Foggy throughout the day.,28.13,2006,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95585,2016-10-31 19:00:00+00:00,Mostly Cloudy,rain,7.627778,6.183333,0.87,8.2271,293.0,0.0,0.0,1021.76,Mostly cloudy starting in the afternoon.,45.73,2016,10
95586,2016-10-31 20:00:00+00:00,Mostly Cloudy,rain,7.111111,5.511111,0.89,8.5008,297.0,0.0,0.0,1021.81,Mostly cloudy starting in the afternoon.,44.80,2016,10
95587,2016-10-31 21:00:00+00:00,Partly Cloudy,rain,6.672222,4.961111,0.90,8.6457,299.0,0.0,0.0,1021.83,Mostly cloudy starting in the afternoon.,44.01,2016,10
95588,2016-10-31 22:00:00+00:00,Mostly Cloudy,rain,6.322222,4.588889,0.91,8.4686,299.0,0.0,0.0,1021.80,Mostly cloudy starting in the afternoon.,43.38,2016,10
96247,2016-09-29 08:00:00+00:00,Clear,rain,19.861111,19.861111,0.54,10.8031,240.0,0.0,0.0,1026.20,Partly cloudy until night.,67.75,2016,9

10.Calculate and plot the correlation matrix between numerical features in the dataset.

In [90]:

column_list = np.arange(0, 12).tolist()
column_list.pop(9)
df=dataset.iloc[:,column_list]


corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

# Numerical Operations

11.Convert the Temperature (C) column into a NumPy array and compute the mean and standard deviation.

In [99]:
n_array=dataset["Temperature (C)"].to_numpy()
print("Mean of the Temperature :",n_array.mean())
print("Standiviation of the Temperature :",n_array.std())

Mean of the Temperature : 11.93267843751188
Standiviation of the Temperature : 9.551496806535758

12.Normalize the Humidity column using Min-Max scaling with NumPy.

In [101]:
from sklearn import preprocessing
min_max_scaler=preprocessing.MinMaxScaler()
norm=min_max_scaler.fit_transform(dataset[["Humidity"]])
norm

array([[0.89],
       [0.86],
       [0.89],
       ...,
       [0.56],
       [0.6 ],
       [0.61]])

13.Create a 2D NumPy array from Wind Speed (km/h) and Wind Bearing (degrees), then find the row with the maximum wind speed.

In [108]:
new_df=pd.DataFrame(dataset["Wind Speed (km/h)"],dataset["Wind Bearing (degrees)"])
numpy_array=new_df.to_numpy()
numpy_array

array([[22.3468],
       [ 3.7674],
       [16.3093],
       ...,
       [11.1734],
       [ 7.3899],
       [25.6956]])

14.Perform element-wise multiplication of Temperature (C) and Humidity using NumPy.|

# Simulations & Mathematical Operations

16.Simulate a new dataset with random temperature values (between -10°C and 40°C) for 1000 days using NumPy.

17.Apply a linear transformation to Visibility (km) using the function: new_visibility = 2.5 * old_visibility + 5.

19.Generate a synthetic dataset of wind speeds following a normal distribution (mean = 10 km/h, std = 5 km/h) for 1000 values.

20.Solve a linear equation system using NumPy’s linalg.solve with weather-related coefficients.

# Data Visualization

21.Plot a time series graph showing Temperature (C) variation over the years.

22.Create a scatter plot of Humidity vs. Temperature (C).

23.Generate a histogram of Wind Speed (km/h) with 20 bins

24.Create a bar chart comparing average monthly temperatures.

25.Plot a box plot for Visibility (km) grouped by Precip Type.