In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

###  Read CSV file

In [8]:
df = pd.read_csv('data.csv') 
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

###  Check a particular column type

In [9]:
df['Humidity'].dtype

dtype('float64')

###  Check types for all the columns

In [10]:
df.dtypes

Formatted Date               object
Summary                      object
Precip Type                  object
Temperature (C)             float64
Apparent Temperature (C)    float64
Humidity                    float64
Wind Speed (km/h)           float64
Wind Bearing (degrees)      float64
Visibility (km)             float64
Loud Cover                  float64
Pressure (millibars)        float64
Daily Summary                object
dtype: object

###   Data Frames  attributes

In [ ]:
#  dtypes   --->  list thetypes of the columns
#  columns  --->  list the column names
#  axes     --->  list therowlabelsandcolumnnames
#  ndim     --->  number of dimensions
#  size     --->  number of elements
#  shape    --->  return a tuple representing the dimensionality
#  values   --->  numpy representation of the data

In [11]:
df.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [12]:
df.axes

[RangeIndex(start=0, stop=96453, step=1),
 Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
        'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
        'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
        'Pressure (millibars)', 'Daily Summary'],
       dtype='object')]

In [13]:
df.ndim

2

In [14]:
df.size

1157436

In [15]:
df.shape

(96453, 12)

In [16]:
df.values

array([['2006-04-01 00:00:00.000 +0200', 'Partly Cloudy', 'rain', ...,
        0.0, 1015.13, 'Partly cloudy throughout the day.'],
       ['2006-04-01 01:00:00.000 +0200', 'Partly Cloudy', 'rain', ...,
        0.0, 1015.63, 'Partly cloudy throughout the day.'],
       ['2006-04-01 02:00:00.000 +0200', 'Mostly Cloudy', 'rain', ...,
        0.0, 1015.94, 'Partly cloudy throughout the day.'],
       ...,
       ['2016-09-09 21:00:00.000 +0200', 'Partly Cloudy', 'rain', ...,
        0.0, 1015.66, 'Partly cloudy starting in the morning.'],
       ['2016-09-09 22:00:00.000 +0200', 'Partly Cloudy', 'rain', ...,
        0.0, 1015.95, 'Partly cloudy starting in the morning.'],
       ['2016-09-09 23:00:00.000 +0200', 'Partly Cloudy', 'rain', ...,
        0.0, 1016.16, 'Partly cloudy starting in the morning.']],
      dtype=object)

###  Data Frames Methods

In [17]:
# Standard devation 

df["Humidity"].std()

0.19547273906722662

In [18]:
# Return Mean
df["Humidity"].mean()

0.7348989663358906

In [20]:
# Return a random sample of the data frame

df.sample(10)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
70377,2014-04-18 09:00:00.000 +0200,Mostly Cloudy,rain,11.138889,11.138889,0.76,10.9802,351.0,16.1000,0.0,1008.93,Mostly cloudy throughout the day.
17836,2008-04-20 04:00:00.000 +0200,Partly Cloudy,rain,9.566667,8.911111,0.87,6.2790,200.0,11.6403,0.0,1008.19,Partly cloudy starting in the morning.
36370,2010-08-30 10:00:00.000 +0200,Partly Cloudy,rain,18.750000,18.750000,0.57,7.8890,101.0,11.2056,0.0,1011.66,Mostly cloudy until night.
58203,2012-03-28 04:00:00.000 +0200,Clear,rain,5.000000,2.411111,0.65,11.2700,340.0,16.1000,0.0,1022.00,Partly cloudy until night.
67013,2013-03-03 05:00:00.000 +0100,Clear,snow,-2.866667,-2.866667,1.00,1.6583,203.0,4.7495,0.0,1021.41,Partly cloudy starting in the morning continui...
92177,2016-06-13 20:00:00.000 +0200,Mostly Cloudy,rain,17.850000,17.850000,0.91,4.7012,6.0,10.3523,0.0,1000.30,Mostly cloudy throughout the day.
73519,2014-01-28 07:00:00.000 +0100,Foggy,snow,-4.861111,-4.861111,0.92,0.1449,129.0,2.5599,0.0,1005.59,Foggy until morning.
63275,2013-12-25 11:00:00.000 +0100,Partly Cloudy,rain,7.133333,3.733333,0.56,20.3987,160.0,11.9784,0.0,1015.30,Partly cloudy starting in the morning.
71812,2014-12-17 04:00:00.000 +0100,Foggy,rain,6.044444,6.044444,0.96,2.8175,157.0,3.0912,0.0,1010.28,Foggy in the morning.
54847,2012-02-10 07:00:00.000 +0100,Foggy,snow,-21.822222,-21.822222,0.80,3.0751,323.0,1.3685,0.0,1033.66,Foggy starting in the morning continuing until...

In [21]:
df['Humidity'].sample(5)

19744    0.75
65756    0.79
41705    0.93
5513     0.56
13129    0.62
Name: Humidity, dtype: float64

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

#####  Some  examples  uses of  Data Frames Methods

In [24]:
# median()

df[["Humidity", "Temperature (C)"]].median()

Humidity            0.78
Temperature (C)    12.00
dtype: float64

In [26]:
# describe ()

df[["Humidity", "Temperature (C)"]].describe()

           Humidity  Temperature (C)
count  96453.000000     96453.000000
mean       0.734899        11.932678
std        0.195473         9.551546
min        0.000000       -21.822222
25%        0.600000         4.688889
50%        0.780000        12.000000
75%        0.890000        18.838889
max        1.000000        39.905556