In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

###  Read CSV file

In [8]:
df = pd.read_csv('data.csv') 
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

###  Check a particular column type

In [9]:
df['Humidity'].dtype

dtype('float64')

###  Check types for all the columns

In [10]:
df.dtypes

Formatted Date               object
Summary                      object
Precip Type                  object
Temperature (C)             float64
Apparent Temperature (C)    float64
Humidity                    float64
Wind Speed (km/h)           float64
Wind Bearing (degrees)      float64
Visibility (km)             float64
Loud Cover                  float64
Pressure (millibars)        float64
Daily Summary                object
dtype: object

###   Data Frames  attributes

In [ ]:
#  dtypes   --->  list thetypes of the columns
#  columns  --->  list the column names
#  axes     --->  list therowlabelsandcolumnnames
#  ndim     --->  number of dimensions
#  size     --->  number of elements
#  shape    --->  return a tuple representing the dimensionality
#  values   --->  numpy representation of the data

In [11]:
df.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [12]:
df.axes

[RangeIndex(start=0, stop=96453, step=1),
 Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
        'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
        'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
        'Pressure (millibars)', 'Daily Summary'],
       dtype='object')]

In [13]:
df.ndim

2

In [14]:
df.size

1157436

In [15]:
df.shape

(96453, 12)

In [16]:
df.values

array([['2006-04-01 00:00:00.000 +0200', 'Partly Cloudy', 'rain', ...,
        0.0, 1015.13, 'Partly cloudy throughout the day.'],
       ['2006-04-01 01:00:00.000 +0200', 'Partly Cloudy', 'rain', ...,
        0.0, 1015.63, 'Partly cloudy throughout the day.'],
       ['2006-04-01 02:00:00.000 +0200', 'Mostly Cloudy', 'rain', ...,
        0.0, 1015.94, 'Partly cloudy throughout the day.'],
       ...,
       ['2016-09-09 21:00:00.000 +0200', 'Partly Cloudy', 'rain', ...,
        0.0, 1015.66, 'Partly cloudy starting in the morning.'],
       ['2016-09-09 22:00:00.000 +0200', 'Partly Cloudy', 'rain', ...,
        0.0, 1015.95, 'Partly cloudy starting in the morning.'],
       ['2016-09-09 23:00:00.000 +0200', 'Partly Cloudy', 'rain', ...,
        0.0, 1016.16, 'Partly cloudy starting in the morning.']],
      dtype=object)